# Env
.env
.env.local
.env.*.local

# Logs
logs
*.log
npm-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# nuxt build artifacts
.nuxt
.output
.data
.nitro

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

.eslintcache
